


.home-container {
  height: 100vh; /* Full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #f0f0f0, #d9f0ff); /* Nice gradient background */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 /* background-image: url("/images/myshop.jpg"); Image next to CSS file */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* Full screen height */

}

.home-content {
  text-align: center;
  max-width: 600px;
}

.home-title {
  font-size: 4rem;
  font-weight: 700;
  color: #F72692; /* Main color */
  margin-bottom: 20px;
}

.cursor {
  display: inline-block;
  width: 2px;
  background-color: #007bff;
  animation: blink 0.7s infinite;
  margin-left: 2px;
}

@keyframes blink {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0; }
}

.home-subtitle {
  font-size: 2rem;
  color: #F02DB9;
  margin-bottom: 30px;
}

.home-button {
  display: inline-block;
  padding: 12px 25px;
  font-size: 1.1rem;
  font-weight: bold;
  background-color: #ffa41c; /* Amazon-like orange button */
  color: white;
  text-decoration: none;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.home-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
